<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>LOGIN</h1>
    <form action="/login" method="POST">
      <input type="text" name="name" placeholder="Name" autocomplete="off" />
      <input
        type="password"
        name="password"
        placeholder="Password"
        autocomplete="off"
      />
      <input type="submit" class="sub" />
      <h3>Dont have a account registerd</h3>

      <a href="/signup">GO TO SIGNUP PAGE</a>
    </form>
  </body>
</html>